<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header 요소</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <header class="header">
    <div class="header-inner">
      <svg role="img" class="svg-logo" viewBox="0 0 210 57" aria-label="로고">
        <title>넷플릭스 로고</title>
        <use href ="/mission-03/images/logo-sprite/_sprite.svg#type=Red,-outline=false" />
      </svg>
      
      <div class="header-list">
        <!-- 언어변경버튼 -->
        <select class="select-box">
          <option value="select-ko">&nbsp;한국어</option>
          <option value="select-en">English</option>
        </select>
        
        <div class="header-button">
          <a href="">
            <img src="/mission-03/images/Rounded.svg" alt="headerbtn" />
          </a>
        </div>
      </div>
    </div>

  </header>
</body>
</html>