
body {
  background: pink;
  margin: 0;
  
}

.login-box {
  background: url(../image/coffee.svg) no-repeat center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* margin: 0 auto; */
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
  /* min-width: 601px; */
  
}

.login-text h2 {
  color: var(--unnamed, #FEFEFE);
text-align: center;
font-family: SpoqaHanSans;
font-size: 2.25em;
font-style: normal;
font-weight: 300;
line-height: normal;
/* letter-spacing: -0.72px; */
text-transform: uppercase;
margin-top: 3em;
}

.white-text {
  color:  #FEFEFE;
text-align: center;
font-family: SpoqaHanSans;
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: normal;
/* letter-spacing: -0.36px; */
margin-bottom: 0;
}


.white-text-small {
  color: #FEFEFE;
text-align: center;
font-family: SpoqaHanSans;
font-size: 0.55em;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.015em;
margin-bottom: 12.5em;
}


/* input 입력창 */


.email-box {
  /* background: red; */
  margin-bottom: 2em;
  /* width: 43.75em; */
  /* padding-bottom: 16px; */
  position: relative;
}


.password-box {
  /* background: blue; */
  position: relative;
}


label, input {
  display: block;
}



.email {
  width: 100%;
  /* border-bottom: 2px solid white; */
}

.check-box {
  display: flex;
  /* background-color: pink; */
  margin-top: 0.625em;
  
  
}


.input-text {
  color: var(--unnamed, #FEFEFE);
  font-family: SpoqaHanSans;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01625em;
  margin-top: 1em;
}

.input-text-btn {
  color: var(--unnamed, #FEFEFE);
  font-family: SpoqaHanSans;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01625em;
}

/* .line {
  width: 36em;
  background: #FEFEFE;
  height: 0.03125em;
} */


/* 이메일, 패스워드 입력 서식이 normal 상태일 경우 */
/* 투명한 배경을 갖는 input 요소 */
#password, #email{
  background-color: transparent;
  width: 100%;
  border: none;
  box-shadow: none;
  border-bottom: 0.03125em solid #fff;
  outline: none;
  color: white;
  /* padding: 8px; */
   /* 선택적으로 테두리를 추가할 수 있습니다 */
}


#password:focus, #email:focus {
  
  border: 0.125em solid blue;
  border-bottom: 0.13125em solid #fff;

}

#email-checkbox {
  width: auto;
}


.login-btn-box {
  position: relative;
  margin-top: 3.125em;
}

.login-btn {
  display: flex;
  gap: 1.25em;
}


.white-btn {
  width: 20.75em;
  height: 3em;
  flex-shrink: 0;

  border-radius: 0.5em;
  background: #FEFEFE;
  justify-content: center;
  
  
}

.reverse-btn {
  background-color: transparent;
  border: 0.0625em solid white;
  width: 20.75em;
  height: 3em;
  /* flex-shrink: 0; */
  color: white;
  border-radius: 0.5em;
  /* display: block; */
  text-align: center;
  align-items: center;
  margin: 0;
}


.submit-text {
  /* position: absolute; */
  align-items: center;
  color: #24388D;
  text-align: center;
  /* font-family: SpoqaHanSans; */
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* top: -20%; */
  /* left: 25%; */
  margin: 0 auto;
}


.reverse-text {
  align-items: center;
  color: #F5F5F5;
  text-align: center;
  /* font-family: SpoqaHanSans; */
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* top: -20%; */
  /* left: 25%; */
  margin: 0 auto;
}

.arrow-img {
  position: absolute;
  right: 0;
  top: 30%;
  padding-right: 0.625em;
}

.arrow-img2 {
  position: absolute;
  right: 0;
  top: 30%;
  padding-right: 0.625em;
}




/* 에러 이미지 */

/* 입력 서식이 맞지 않다면 해당 스타일에서 display 값을 변경한다 */

.error-msg-email {
  color: #FEFEFE;
  font-family: SpoqaHanSans;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  display: none;
}

.error-msg-pw {
  color: #FEFEFE;
  font-family: SpoqaHanSans;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display : none;
}


.error-image-email {
  position: absolute;
  right: 1em;
  top: 1em;
  display: none;
}

.error-image-pw {
  position: absolute;
  right: 1em;
  top: 1em;
  display: none;
}

.eye-image {
  position: absolute;
  right: 3em;
  top: 1em;
  display: none;
}


/* eye-image를 클릭시 이벤트로 클래스 이름 변경 eye-image -> eye-reverse */

.eye-image-reverse {
  position: absolute;
  right: 3em;
  top: 1em;
  display: none;
}


/* 형식에 맞게 작성했다면 */ 

.checked {
  position: absolute;
  right: 1em;
  top: 1em;
  display: none;
}

/* 반응형 */

@media (max-width: 600px) {
  .login-box {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 100% 50%;
    background-repeat: no-repeath;
  }

  .login-btn {
    display: flex;
    flex-flow: column nowrap;
    gap: 1px;
  }

}