<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer 요소</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  
  <footer class="footer">
    <div class="footer-inner">

      <h2>질문이 있으신가요? <b>문의 전화: </b>00-308-321-0058</h2>

      <div class="footer-list-1">
        <ul class="footer-list-box">
          <li><a href="">자주 묻는 질문</a></li>
          <li><a href="">고객센터</a></li>
          <li><a href="">계정</a></li>
          <li><a href="">미디어 센터</a></li>
          <li><a href="">투자 정보(IR)</a></li>
          <li><a href="">입사 정보</a></li>
          <li><a href="">Netflix 지원 디바이스</a></li>
          <li><a href="">이용 약관</a></li>
          <li><a href="">개인정보</a></li>
          <li><a href="">쿠키 설정</a></li>
          <li><a href="">회사 정보</a></li>
          <li><a href="">문의하기</a></li>
          <li><a href="">속도 테스트</a></li>
          <li><a href="">법적 고지</a></li>
          <li><a href="">Netflix 오리지널</a></li>
        </ul>
      </div>

      <div class="footer-list-2">
        <!-- <figure>
          <img src="../../images/Select.svg" alt="언어변경" />
        </figure> -->

        <select class="select-box">
          <option value="select-ko">&nbsp;한국어</option>
          <option value="select-en">English</option>
        </select>
      </div>

      <div class="footer-list-3">
        <span class="address-title">Netflix 대한민국</span>
        <address class="address">
          <span>넷플릭스서비시스코리아 유한회사</span>
          <span><b>통신판매업신고번호: </b> 제2018-서울종로-0426호</span>
          <span><b>전화번호: </b>00-308-321-0058</span>
          <span><b>대표:</b>레지널드 숀 톰프슨</span>
          <span><b>이메일 주소: </b>korea@netflix.com</span>
          <span><b>주소: </b>대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층 우편번호 03161</span>
          <span><b>사업자 등록번호: </b>165-87-00119</span>
          <span><b>클라우드 호스팅: </b>Amazon Web Services Inc.</span>
          <span>공정거래위원회 웹사이트</span>
        </address>
      </div>


    </div>
  </footer>


</body>
</html>